# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Rough work
inference/imgs/
inference/runs/
inference/videos/
inference/inference_img.py
inference/inference_vid.py
inference/speed.py
inference/test.py
inference/vid_dimensions.py
scripts/extract_all_unique_frames.py
scripts/extract_uniform_frames.py
scripts/png_to_jpg.sh
scripts/concat_videos.sh

# Data folders (large data, videos, frames)
# data/
raw_videos/
frames/

# Model weights (large files)
weights/
runs/

# Logs and outputs
*.log
*.txt

# Roboflow cache (if any)
roboflow_cache/

# System files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace

# Others
*.zip
*.tar.gz